server {
    listen 80;

    server_name nginxfrontend;

    location / {
        proxy_pass http://localhost:3000;
        proxy_set_header Host $host;
        proxy_set_header x-Forward-For $proxy_add_x_forwarded_for;
    }
}
server {
    listen 5000;

    server_name nginxbackend_user;

    location / {
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
        proxy_set_header x-Forward-For $proxy_add_x_forwarded_for;
    }
}
server {
    listen 5500;

    server_name nginxbackend_assignment;

    location / {
        proxy_pass http://localhost:8500;
        proxy_set_header Host $host;
        proxy_set_header x-Forward-For $proxy_add_x_forwarded_for;
    }
}
server {
    listen 9000;

    server_name nginxadminer;

    location / {
        proxy_pass http://localhost:8080;
        proxy_set_header Host $host;
        proxy_set_header x-Forward-For $proxy_add_x_forwarded_for;
    }
}