body {
    font-family: "Lato", sans-serif;
  }
  .wallpaper{
    width: 100%; 
    max-width:100%;
    max-height: 100%;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #252c54;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }  

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #F14C36;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .align {
    margin-left: 15px
  }
  
  #myChart {
    padding:0;
    color: rgba(255, 26, 104, 1);
    width: -50%;
    height: -200px;
  }

  .chartcard {
    margin-right: 0;
  }
  
  .center {
    text-align: center;
  }

  * {
    padding: 0;
    font-family: sans-serif;
  }

  .chartBox_1 {
    width:100%;
    max-width:500px;
    margin-left:55%;
    margin-top: -12%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px #adb4bf;
    background: white;
    box-shadow:20px 20px 40px grey;
  }

  .chartBox_2 {
    width:100%;
    max-width:500px;
    margin-left:55%;
    margin-top: 2%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgb(255, 129, 26);
    background: white;
    box-shadow:20px 20px 40px rgb(255, 129, 26);
  }

  .chartBox_3 {
    width:100%;
    max-width:500px;
    margin-left:5%;
    margin-top: -22.5%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px #5b7c99;
    background: white;
    box-shadow:20px 20px 40px #5b7c99;
  }

.greeting {
   margin-left:18%;
   margin-top:5%;
   font-family: Poppins-Regular;
   font-size: 35px;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

#table_detail .hidden_row {
  display: none;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

  #submit_header {
    text-align: center
  }
